@media screen and (max-width:1024px) {
    .nav-links{
        display: none;
    }
}

@media screen and (max-width:720px) {
    
}

@media screen and (max-width:420px) {

.navbar{
    justify-content: center;
    gap: 30px;
}
.logo{
    width: 200px;
    font-size: 24px;
}
.options{
   justify-content: center;
   width: 150px;
}
.nav-2{
    width: 230px;
}
.modal-content{
    width: 320px;
}
.modal-content h2{
    font-size: 17px;
}
}