*{
    margin: 0px;
    padding: 0px;
}
.heading1{
 height: 50px;
 width: 100%;
 background-color: rgb(178, 140, 66);
 display:flex;
 justify-content: center;
 align-items: center;
}
.heading1 h4{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
}
.navbar{
    height: 100px;
    width: 100%;
    background-color:#f9f3e2;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position:sticky;
    z-index: 1000;
    top: 0;
}
.logo{
    height: 100px;
    width: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.nav-links{
 height: 100px;
 width: auto;
 display: flex;
 justify-content:space-evenly;
 align-items: center;
 gap: 30px;
 font-size: 17px;
}
.nav-links a{
 text-decoration: none;
 color:brown;
 cursor: pointer;
}
.nav-links a:hover {
  text-decoration: underline;
   text-underline-offset: 6px
}
.options{
    height: 100px;
    width:300px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}
.options span{
    cursor: pointer;
}

.nav-2{
    height:100%;
    width:300px;
    display: flex;
    gap: 60px;
    align-items:center;
    flex-direction: column;
    position: fixed;
    right: 0;
    z-index: 1000;
    padding: 20px;
    background-color: #f9f3e2;
    display:none;
}
.nav-2 a{
    color: brown;
    text-decoration: none;
    font-size: 18px;
}
.nav-2 a:hover{
    text-decoration: underline;
   text-underline-offset: 6px
}
.backbtn button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color:brown;
    color:white;
    transition: background-color 0.3s ease-in, 
    transform 0.3s ease-in, box-shadow 0.3s ease-in;
    cursor: pointer;
}
.backbtn:hover{
 transform: scale(1);
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}